html,body {
    min-height: 100%;
    font-family: sans-serif;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.record-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
}

.record-container>button {
    border: 3px solid red;
    margin: 6px;
    cursor: pointer;
    border-radius: 3.5rem;
    width: 3.5rem;
    height: 3.5rem;
    background: url('/mic.svg') no-repeat;
    background-size: 80%;
    background-position: center;
}

.record-container>button.active {
    background: url('/stop.svg') no-repeat;
    background-size: 75%;
    background-position: center;
    background-color: red;
}

.record-container>button.loading {
    background: url('/load.svg') no-repeat;
    background-size: 75%;
    background-position: center;
    background-color: red;
}

.angry {
    color: #cc3333;
}
